@import "tailwindcss";

@theme {
  --color-background: #020617;
  --color-primary: #10B981;
  --color-secondary: #0F253A;
  --color-highlight: #FEC27C;
  --color-text-main: #E5E7EB;
  --color-text-muted: #9CA3AF;
  --color-border: #1F2933;
}

body {
  @apply bg-[--color-background] text-[--color-text-main] font-sans;
}
